// SPDX-License-Identifier: GPL-2.0-only OR MIT

#include "an7581-nokia_xg-040g-md-common.dtsi"

/ {
	model = "Nokia XG-040G-MD (tcboot)";
	compatible = "nokia,xg-040g-md-tcboot", "airoha,an7581",
		     "airoha,en7581";

	chosen {
		bootargs = "ubi.mtd=ubi root=ubi0:rootfs rootfstype=squashfs ro rootwait console=ttyS0,115200 earlycon";
	};
};

&partitions {
	partition@0 {
		label = "bootloader";
		reg = <0x0 0x80000>;
		read-only;

		nvmem-layout {
			compatible = "fixed-layout";

			#address-cells = <1>;
			#size-cells = <1>;

			macaddr_factory_3e: macaddr@9 {
				compatible = "mac-base";
				reg = <0x9 0x6>;
				#nvmem-cell-cells = <1>;
			};
		};
	};

	partition@80000 {
		label = "env";
		reg = <0x80000 0x80000>;
	};

	partition@100000 {
		label = "ubi";
		reg = <0x100000 0xff00000>;
		compatible = "linux,ubi";
	};
};

&gdm1 {
	/delete-property/ nvmem-cell-names;
	/delete-property/ nvmem-cells;
};

&gdm4 {
	openwrt,netdev-name = "eth1";

	nvmem-cell-names = "mac-address";
	nvmem-cells = <&macaddr_factory_3e (6)>;
};

